@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #060935;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0; /* Добавьте это */
}

.login-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: blur(100px);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.wave-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.login-container {
  position: relative;
  overflow: hidden;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-container img {
    transform: scale(1.2);
}

.wrapper {
    width: 90%;
    max-width: 420px;
    background: #fff;
    border-radius: 30px;
    padding: 30px 40px;
    position: relative;
    z-index: 1;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(183, 183, 189, 0.6);
    margin: 15px 0 42px 0;
}

.wrapper h1 {
    font-size: 26px;
    text-align: center;
    color: #283BA5;
    font-weight: 700;
    margin-bottom: 22px;
}

.input-box {
    width: 100%;
    margin-bottom: 24px;
    text-align: left;
}

.input-box label {
    font-size: 14px;
    font-weight: 500;
    color: #B7B7BD;
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: rgba(183, 183, 189, 0.1);
    outline: none;
    border: 1px solid rgba(183, 183, 189, 0.6);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 10px 20px;
}

.error-message {
    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-top: 8px;
    margin-bottom: 29px;
    position: relative;
    display: block;
    opacity: 1; /* Добавьте для уверенности */
    visibility: visible;
}

.btn-login {
    width: 100%;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    margin-right: 8px;
    background-color: #283BA5;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.register-link {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    margin-top: 27px;
    color: #fff;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
}

.register-link p a:hover {
    color: #283BA5;
}

@media (max-width: 480px) {
    .wrapper {
        padding: 20px;
    }

    .wrapper h1 {
        font-size: 24px;
    }

    .register-link {
        font-size: 13px;
    }
}