@import url('https://db.onlinewebfonts.com/c/75e6e29986cbf78e3aaebb7c39b0eac3?family=IntroFriday');
@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Добавляем font-face для надежности */
@font-face {
  font-family: 'IntroFriday';
  src: url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.eot');
  src: url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/75e6e29986cbf78e3aaebb7c39b0eac3.svg#IntroFriday') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-content h1 {
  font-family: 'IntroFriday', sans-serif;
  font-size: 48px;
  line-height: 118%;
  letter-spacing: 0.06em;
  font-weight: 400;
  margin-bottom: 44px;
  /* Добавляем fallback */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #040625;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: right center / 55% no-repeat url('../../images/asia.svg'),
                center / cover no-repeat url('../../images/circle.svg'), #040625;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    width: calc(100% - 300px);
    margin-left: 150px;
    margin-right: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

.nav {
    align-items: center;
    display: flex;
    letter-spacing: 0.03em;
}

.head-rectangle {
    width: 100%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.btn {
    padding: 13px 18px;
    border-radius: 10px;
    letter-spacing: 0.05em;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-style: normal;
    margin-right: 8px;
    border: none;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
}

.btn span {
    opacity: 0.9;
}

.btn-blue {
    background-color: #21284E;
}

.btn-purple {
    background-color: #283BA5;
}

.logo {
    z-index: 10;
}

/* MAIN */
.main-content {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.main-left {
    margin-top: 108px;
}

.white {
    color: #FFFFFF;
    opacity: 0.9;
}

.blue {
    color: #283BA5;
    opacity: 0.9;
}

.main-content p {
    color: #9D95AA;
    font-size: 18px;
    line-height: 143%;
    letter-spacing: 0.12em;
    font-family: "Alike Angular", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 68px;
    opacity: 0.5;
}

.main-content-button a {
    display: inline-block;
    padding: 17px 14px;
    background-color: #283BA5;
    border-radius: 10px;
    letter-spacing: 0.04em;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-style: normal;
}

.wave {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
}

/* FOOTER */
footer {
    margin-top: 210px;
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    padding: 34.2px;
    font-size: 20px;
    letter-spacing: 0.04em;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    height: 100px;
    background: #283BA5;
}

@media (max-width: 1200px) {
    .header {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .header {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        gap: 15px;
    }

    .main-content p {
        font-size: 16px;
    }

    .main-left {
        margin-top: 50px;
    }

    footer {
        margin-top: 100px;
    }
}