{% load static %}


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
        <title>Zonbirobanie</title>
	</head>
	<body>
        <header>
            <h1>Homepage</h1>
        </header>
        <main>
            <div>
                <h2>Example image of resulting data</h2>
                <p>(not an actual footage)</p>
                <img src="{% static 'homepage/example.jpg' %}" alt="My image">
            </div>
        </main>
        <footer>
            <h4>MIT License</h4>
        </footer>
	</body>
</html>
